.text {
  color: var(--Shades-Shade800, #484138);
  align-self: stretch;
  /* NotoSans/BigBody/Regular */
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
